body {
  background-image: url("../img/backgroundMappa.jpg");
}
.header {
  height: 700px;
  width: 100%;
  background-image: url("../img/principale.jpg");
  background-size: cover;
}

.navbar {
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #222;
  font-size: 25px;
}
.navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  justify-content: space-between;
}

li {
  float: left;
  padding-left: 25px;
  padding-right: 25px;
}

li a,
.dropbtn {
  display: inline-block;
  color: #f2ecff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #f2ecff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  position: relative;
  text-align: center;
  color: white;
  text-shadow: 10px 10px 50px black;
  font-size: 55px;
  font-family: kanit;
  font-style: italic;
}

h2 {
  color: white;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
  font-family: kanit;
}

.titolo {
  margin-top: 90px;
}
.corpo {
  display: flex;
  height: 450px;
  width: 100%;
}

.testo {
  font-size: 16.5px;
  text-align: justify;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  font-family: "Roboto Slab", serif;
}

nav > a:hover {
  border: 3px solid orange;
  background-color: #353333;
}

.corpo h1 {
  padding-left: 70px;
  padding-top: 0px;
  padding-right: 70px;
  font-size: 30px;
  position: relative;
  translate: 0px 100px;
  text-align: center;
  color: white;
  font-family: Arial;
  font-style: italic;
  text-shadow: 10px 10px 50px black;
}

.corpo p {
  color: white;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 100px;
  font-size: 25px;
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  position: right;
}

.corpo img {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 50px;
  border: 2px solid white;
  border-radius: 30px;
}
footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  border-top: 2px solid white;
}

footer > img {
  border-radius: 40px;
}

footer > p {
  color: white;
  font-size: 17px;
  line-height: 2;
}
